@model VitEgoDictionary.Models.ViewModels.AccountChangePasswordiewModel

@{
    ViewBag.Title = "VitEgo | Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="body-title"><h1>@Model.User.Identity.Name</h1></div>
    <hr />
    <div id="body-body">                    
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h2 id="panel-body-header">
                        <span>Change Password</span>
                    </h2>
                </div>
                <hr />
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "change-password-form" }))
                {
                    <div class="form-group">
                        <label>Current Password</label>
                        @Html.Password("old-password", null, new { @class = "form-control required", autocomplete = "off", tabindex = "1" })
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        @Html.Password("new-password", null, new { @class = "form-control required minlength", autocomplete = "off", tabindex = "2", 
                            data_minlength = Model.MinRequiredPasswordLength})
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        @Html.Password("confirm-password", null, new { @class = "form-control required match minlength", autocomplete = "off", tabindex = "3",
                            data_match = "new-password", data_minlength = Model.MinRequiredPasswordLength})
                    </div>
                    <input type="hidden" id="min-length" value="@Model.MinRequiredPasswordLength"/>
                    <input type="hidden" id="min-nonalphanumeric" value="@Model.MinRequiredNonAlphanumericCharacters" />  
                    <div>
                        <hr />     
                        <div class="text-right">
                            <a id="url-referrer" href="@Model.UrlReferrer" class="button button-default">Cancel</a>
                            <input type="button" class="button button-primary" id="submit" value="Submit" tabindex="4"/>
                        </div>
                    </div>
                }
            </div>    
        </div>
    </div>	
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-account-change-password.js")"></script>
