@using VitEgoDictionary.Models

@model VitEgoDictionary.Models.ViewModels.ItemViewModel

@{
    var idiom = Model.Item as Idiom;
    ViewBag.Title = "VitEgo Dictionary" + (idiom == null ? String.Empty : (" | " + idiom.Name));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body">
    <div id="body-title"><h1>Idioms</h1></div>
    <hr />
    <div id="body-body">

        @{ Html.RenderAction("SearchPanelSimple", "Idiom"); }

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dashboard text-right">
                    <a href="@Url.Action("Create", "Idiom")">
                        <span class="fa fa-plus-square-o fa-lg fa-fw"></span><span>Create</span>
                    </a>
                    @if(idiom != null) {
                        <a href="@Url.Action("Edit", "Idiom", new { id = idiom.ID })">
                            <span class="fa fa-edit fa-lg fa-fw"></span><span>Edit</span>
                        </a>
                        <a href="#/" data-toggle="modal" data-target="#modal-dialog" data-content="Are you sure you want to delete the idiom '@idiom.Name'?" 
                            data-buttons="CloseConfirm" data-action="@Url.Action("Delete", "Idiom", new { id = idiom.ID })">
                            <span class="fa fa-trash-o fa-lg fa-fw"></span><span>Delete</span>
                        </a>
                    }
                </div>
                @if (idiom == null) {   
                    <div>
                        <h2 class="warning">Search Results</h2>
                    </div>
                    <hr />
                    <div>
                        <p class="warning">Sorry, no results were found! Please try to search again with another parameters!</p>
                    </div>
                } else {
                    <div>
                        <h2>
                            <span>@idiom.Name</span>
                            @if (idiom.IDF_Formality != 1) { <span class="note">@idiom.Formality.Name</span> }
                            <span class="topic note">(@idiom.Topic.Name)</span>                                                                                                 
                        </h2>
                    </div>                     

                    if (idiom.Meanings.Count > 0) {
                        <hr />
                        <div>
                            <h3>Meanings</h3>
                            <ol>
                                @foreach (var meaning in idiom.Meanings.OrderBy(i => i.Meaning)) {
                                    <li>                                           
                                        <span class="meaning">@meaning.Meaning</span>
                                        <ul class="example-list">
                                            @foreach (var example in meaning.Examples) {
                                                <li>
                                                    @foreach (var item in LexicalAnalyzer.Highlight(example.Example, idiom.Name)) {
                                                        <span class="@(item.IsHighlighted ? "highlighted" : "example")">@item.Text</span>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                        @if (meaning.SynonymSet != null) {
                                            <div>
                                                <ul class="synonym">
                                                    <li><span class="synonym">Synonyms:</span></li>
                                                    @foreach (var synonym in meaning.SynonymSet.WordMeanings.
                                                        Select(i => i.Word).Distinct().OrderBy(i => i.Name)) {
                                                        <li>
                                                            <a href="@Url.Action("Item", "Word", new { id = synonym.ID })">@synonym.Name
                                                                <span class="speech-part">@synonym.SpeechPart.ShortName</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    @foreach (var synonym in meaning.SynonymSet.PhrasalVerbMeanings.
                                                        Select(i => i.PhrasalVerb).Distinct().OrderBy(i => i.Name)) {
                                                        <li>
                                                            <a href="@Url.Action("Item", "PhrasalVerb", new { id = synonym.ID })">@synonym.Name
                                                                <span class="speech-part">@synonym.Verb.SpeechPart.ShortName</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    @foreach (var synonym in meaning.SynonymSet.CollocationMeanings.
                                                        Select(i => i.Collocation).Distinct().OrderBy(i => i.Name)) {
                                                        <li>
                                                            <a href="@Url.Action("Item", "Collocation", new { id = synonym.ID })">@synonym.Name&nbsp;</a>
                                                        </li>
                                                    }
                                                    @foreach (var synonym in meaning.SynonymSet.IdiomMeanings.Where(i => i.IDF_Idiom != idiom.ID).
                                                        Select(i => i.Idiom).Distinct().OrderBy(i => i.Name)) {
                                                        <li>
                                                            <a href="@Url.Action("Item", "Idiom", new { id = synonym.ID })">@synonym.Name&nbsp;</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </li> 
                                }
                            </ol>
                        </div>
                    }
                    
                    if (idiom.IdiomMixes.Count > 0) {
                        <hr />
                        <div>
                            <h3>Associated Words</h3>
                            <ul class="synonym">                                 
                                @foreach (var idiomMix in idiom.IdiomMixes.OrderBy(i => i.Word.Name)) {
                                    <li>
                                        <a href="@Url.Action("Item", "Word", new { id = idiomMix.Word.ID })">
                                            @idiomMix.Word.Name
                                            <span class="speech-part">@idiomMix.Word.SpeechPart.ShortName</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }
                <div>
                    <hr />
                    <div class="text-right">
                        <a href="@Model.UrlReferrer" class="button button-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

