@using VitEgoDictionary.Models

<div id="word-search-panel" class="panel panel-default">
    <div class="panel-body">
        <div id="simple-search-panel">
            @using (Html.BeginForm("Item", "Idiom", FormMethod.Get, new { id = "search-form" })) {
                <label>Search</label>
                <a href="#/" id="advanced-search-open" class="inner pull-right">
                    <span class="fa fa-search-plus fa-fw"></span>
                </a>
                <img id="search-processing" style="display:none" src="~/Content/Style/Pics/processing.gif" alt="processing..." />
                @Html.TextBox("search", null, new { @class = "typeahead form-control", autocomplete = "off", db_id = "-1" })
            }
        </div>
        <div id="advanced-search-panel" style="display:none">
            @using (Html.BeginForm("LoadItems", "Idiom", FormMethod.Post))
            {
                var topics = Session["IdiomSearchTopics"] == null ? null : Session["IdiomSearchTopics"] as IEnumerable<int>;
                var formalities = Session["IdiomSearchFormalities"] == null ? null : Session["IdiomSearchFormalities"] as IEnumerable<int>;
                <div class="row">
                    <div class="col-xs-12 col-sm-4 form-group">
                        <label>Topics</label>
                        <select id="topics" class="selectpicker form-control" multiple data-selected-text-format="count>3">
                            @if(topics != null) { <option>all</option> }
                            else { <option selected="selected">all</option> }
                            <option data-divider="true"></option>
                            @foreach (var topic in Session["Topics"] as IEnumerable<Topic>)
                            {
                                if (topics != null && topics.Any(i => i == topic.ID)) 
                                { 
                                    <option value="@topic.ID" selected="selected">@topic.Name</option> 
                                }
                                else { <option value="@topic.ID">@topic.Name</option> }
                            }
                        </select>
                        <input type="hidden" id="topics-all" value="true" />
                    </div>
                    <div class="col-xs-12 col-sm-4 form-group">
                        <label>Formalities</label>
                        <select id="formalities" class="selectpicker form-control" multiple data-selected-text-format="count>3">
                            @if(formalities != null) { <option>all</option> }
                            else { <option selected="selected">all</option> }
                            <option data-divider="true"></option>
                            @foreach (var formality in Session["Formalities"] as IEnumerable<Formality>)
                            {
                                if (formalities != null && formalities.Any(i => i == formality.ID)) 
                                { 
                                    <option value="@formality.ID" selected="selected">@formality.Name</option>
                                }
                                else { <option value="@formality.ID">@formality.Name</option> }
                            }
                        </select>
                        <input type="hidden" id="formalities-all" value="true" />
                    </div>
                </div>
                <hr />
                <div class="text-right">
                    <a href="#/" id="advanced-search-cancel" class="button button-default">Cancel</a>
                    <input type="button" class="button button-primary" id="submit" value="Search" />
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-shared-search-panel.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-idiom-search-panel.js")"></script>

