@model VitEgoDictionary.Models.ViewModels.EditItemViewModel

@using VitEgoDictionary.Models
@using VitEgoDictionary.Models.Extensions
@using VitEgoDictionary.Models.Utilities

@{
    Collocation collocation = Model.Item as Collocation;
    ViewBag.Title = "VitEgo Dictionary | " + collocation.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="body-title"><h1>Collocations</h1></div>
    <hr />
    <div id="body-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h2 id="panel-body-header">
                        <span>@collocation.Name</span>
                    </h2>
                </div>
                @*// Collocation section*@
                <div>
                    <hr />
                    <form id="item-form-base">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6 form-group">
                                <label>Phrase</label>
                                @Html.TextBox("base-word", collocation.Name, new { @class = "form-control required", autocomplete = "off", db_id = collocation.ID })
                                @Html.Hidden("speech-part", 0)
                                @Html.Hidden("url", "/Collocation/Edit")                                     
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3 form-group">
                                <label>Topic</label>
                                @Html.DropDownList("Topic", new SelectList(Session["Topics"] as IEnumerable<Topic>, "Id", "Name", collocation.IDF_Topic),
                                    new { id = "topic", @class = "selectpicker form-control" })
                            </div> 
                            <div class="col-xs-12 col-sm-6 col-lg-3 form-group">
                                <label>Formality</label>
                                @Html.DropDownList("Formality",
                                    new SelectList(Session["Formalities"] as IEnumerable<Formality>, "Id", "Name", collocation.IDF_Formality),
                                    new { id = "formality", @class = "selectpicker form-control" })
                            </div>          
                        </div>
                    </form>
                </div>
                @*// Meaning section*@
                <div id="meaning-section" class="section">
                    <hr />
                    <div class="form-group">
                        <span class="section-title button button-primary panel-toggle">Meanings</span>
                        @{
                            <span class="note item-counter">@collocation.Meanings.Count @(collocation.Meanings.Count == 1 ? "item" : "items")</span>
                        }
                        <a href="#/" class="panel-toggle"><span class="section-chevron fa fa-chevron-right fa-fw pull-right"></span></a>
                    </div>
                    <div class="edit-panel" style="display:none">
                        <form id="item-form-meaning">
                            <div class="data-item-container">
                                @foreach (var meaning in collocation.Meanings.OrderBy(i => i.Meaning))
                                {
                                    <div class="subsection data-item">
                                        <div class="dashboard-subsection">
                                            <span class="dashboard-title">Meaning</span>
                                            <a href="#/" class="pull-right small" data-toggle="modal" data-target="#modal-dialog"
                                               data-content="Are you sure you want to delete this meaning?"
                                               data-action="delete-data-item" data-buttons="CloseConfirm">
                                                <span class="fa fa-trash-o fa-lg fa-fw"></span><span>Delete</span>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 form-group">
                                                <label class="required">Meaning</label>
                                                <input type="text" value="@meaning.Meaning" autocomplete="off" class="meaning form-control required"
                                                       db-id="@meaning.ID">
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="data-example-subitem-container">
                                                    @foreach (var example in meaning.Examples)
                                                    {
                                                        <div class="form-group data-subitem">
                                                            <label class="required">Example</label>
                                                            <a href="#/" class="inner pull-right small" data-toggle="modal" data-target="#modal-dialog"
                                                               data-content="Are you sure you want to delete this example?"
                                                               data-action="delete-data-subitem" data-buttons="CloseConfirm">
                                                                <span class="fa fa-trash-o fa-lg fa-fw"></span>
                                                            </a>
                                                            <input type="text" value="@example.Example" class="example inner form-control required"
                                                                   autocomplete="off" , db-id="@example.ID" />
                                                        </div>
                                                    }
                                                </div>
                                                <div class="text-right form-group">
                                                    <a href="#/" class="more-meaning-examples small">
                                                        <span class="fa fa-plus-square-o fa-lg fa-fw"></span><span>More examples</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="border-color:#DDD" />
                                        <div class="synonyms">
                                            <div class="data-synonym-subitem-container">
                                                @if (meaning.SynonymSet != null)
                                                {
                                                    foreach (var wordMeaning in meaning.SynonymSet.WordMeanings.OrderBy(i => i.Word.Name))
                                                    {
                                                        <div class="subsection data-subitem">
                                                            <div class="dashboard-subsection">
                                                                <span class="dashboard-title">Synonym</span>
                                                                <a href="#/" class="pull-right small" data-toggle="modal" data-target="#modal-dialog"
                                                                   data-content="Are you sure you want to delete this synonym from the synonym set?"
                                                                   data-action="delete-data-subitem" data-buttons="CloseConfirm">
                                                                    <span class="fa fa-trash-o fa-lg fa-fw"></span><span>Delete</span>
                                                                </a>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label class="required">Synonym</label>
                                                                    <input type="text" value="@wordMeaning.Word.Name" class="synonym typeahead form-control required"
                                                                           autocomplete="off" db-id="@wordMeaning.ID" db-item="@((int)Item.Word)" />
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label style="margin-right:5px">Synonym Meaning</label>
                                                                    <img style="display:none" src="~/Content/Style/Pics/processing.gif" alt="processing..." />
                                                                    @Html.DropDownList("word-meaning-" + wordMeaning.ID,
                                                                                new SelectList(wordMeaning.Word.Meanings, "Id", "Meaning", wordMeaning.ID),
                                                                                new { @class = "selectpicker form-control", db_item = ((int)Item.Word) })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    foreach (var phrasalVerbMeanings in meaning.SynonymSet.PhrasalVerbMeanings.OrderBy(i => i.PhrasalVerb.Name))
                                                    {
                                                        <div class="subsection data-subitem">
                                                            <div class="dashboard-subsection">
                                                                <span class="dashboard-title">Synonym</span>
                                                                <a href="#/" class="pull-right small" data-toggle="modal" data-target="#modal-dialog"
                                                                   data-content="Are you sure you want to delete this synonym from the synonym set?"
                                                                   data-action="delete-data-subitem" data-buttons="CloseConfirm">
                                                                    <span class="fa fa-trash-o fa-lg fa-fw"></span><span>Delete</span>
                                                                </a>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label class="required">Synonym</label>
                                                                    <input type="text" value="@phrasalVerbMeanings.PhrasalVerb.Name"
                                                                           class="synonym typeahead form-control required" autocomplete="off"
                                                                           db-id="@phrasalVerbMeanings.ID" db-item="@((int)Item.PhrasalVerb)" />
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label style="margin-right:5px">Synonym Meaning</label>
                                                                    <img style="display:none" src="~/Content/Style/Pics/processing.gif" alt="processing..." />
                                                                    @Html.DropDownList("phrasal-verb-meaning-" + phrasalVerbMeanings.ID,
                                                                                new SelectList(phrasalVerbMeanings.PhrasalVerb.Meanings, "Id", "Meaning", phrasalVerbMeanings.ID),
                                                                                new { @class = "selectpicker form-control", db_item = ((int)Item.PhrasalVerb) })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    foreach (var collocationMeaning in meaning.SynonymSet.CollocationMeanings.
                                                        Where(i => i.IDF_Collocation != collocation.ID).OrderBy(i => i.Collocation.Name))
                                                    {
                                                        <div class="subsection data-subitem">
                                                            <div class="dashboard-subsection">
                                                                <span class="dashboard-title">Synonym</span>
                                                                <a href="#/" class="pull-right small" data-toggle="modal" data-target="#modal-dialog"
                                                                   data-content="Are you sure you want to delete this synonym from the synonym set?"
                                                                   data-action="delete-data-subitem" data-buttons="CloseConfirm">
                                                                    <span class="fa fa-trash-o fa-lg fa-fw"></span><span>Delete</span>
                                                                </a>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label class="required">Synonym</label>
                                                                    <input type="text" value="@collocationMeaning.Collocation.Name"
                                                                           class="synonym typeahead form-control required" autocomplete="off"
                                                                           db-id="@collocationMeaning.ID" db-item="@((int)Item.Collocation)" />
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label style="margin-right:5px">Synonym Meaning</label>
                                                                    <img style="display:none" src="~/Content/Style/Pics/processing.gif" alt="processing..." />
                                                                    @Html.DropDownList("collocation-meaning-" + collocationMeaning.ID,
                                                                        new SelectList(collocationMeaning.Collocation.Meanings, "Id", "Meaning", collocationMeaning.ID),
                                                                 new { @class = "selectpicker form-control", db_item = ((int)Item.Collocation) })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    foreach (var idiomMeaning in meaning.SynonymSet.IdiomMeanings.OrderBy(i => i.Idiom.Name))
                                                    {
                                                        <div class="subsection data-subitem">
                                                            <div class="dashboard-subsection">
                                                                <span class="dashboard-title">Synonym</span>
                                                                <a href="#/" class="pull-right small" data-toggle="modal" data-target="#modal-dialog"
                                                                   data-content="Are you sure you want to delete this synonym from the synonym set?"
                                                                   data-action="delete-data-subitem" data-buttons="CloseConfirm">
                                                                    <span class="fa fa-trash-o fa-lg fa-fw"></span><span>Delete</span>
                                                                </a>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label class="required">Synonym</label>
                                                                    <input type="text" required value="@idiomMeaning.Idiom.Name"
                                                                           class="synonym typeahead form-control required" autocomplete="off"
                                                                           db-id="@idiomMeaning.ID" db-item="@((int)Item.Idiom)" />
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 form-group">
                                                                    <label style="margin-right:5px">Synonym Meaning</label>
                                                                    <img style="display:none" src="~/Content/Style/Pics/processing.gif" alt="processing..." />
                                                                    @Html.DropDownList("idiom-meaning-" + idiomMeaning.ID,
                                                                                new SelectList(idiomMeaning.Idiom.Meanings, "Id", "Meaning", idiomMeaning.ID),
                                                                                new { @class = "selectpicker form-control", db_item = ((int)Item.Idiom) })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div>
                                                <a href="#/" class="more-synonyms small">
                                                    <span class="fa fa-plus-square-o fa-lg fa-fw"></span><span>More synonyms</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </form>
                        <div>
                            <a href="#/" class="more-meanings small">
                                <span class="fa fa-plus-square-o fa-lg fa-fw"></span><span>More meanings</span>
                            </a>
                        </div>
                        <div class="form-group text-right">
                            <input type="button" class="button button-primary panel-toggle" value="OK" />
                        </div>
                    </div>
                </div>
                @*// Submit section*@
                <div>
                    <hr />     
                    <div class="text-right">
                        <a href="@Url.Action("Item", "Collocation", new { id = collocation.ID })" class="button button-default">Cancel</a>
                        <input type="button" class="button button-primary" id="submit" value="Save" />
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-shared-create-edit.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-shared-idiom-collocation-create-edit.js")"></script>

