@model VitEgoDictionary.Models.ViewModels.UrlReferrerViewModel

@using VitEgoDictionary.Models
@using VitEgoDictionary.Models.Extensions

@{
    ViewBag.Title = "VitEgo | New Phrasal Verb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="body-title"><h1>Phrasal Verbs</h1></div>
    <hr />
    <div id="body-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h2 id="panel-body-header">
                        <span>New Phrasal Verb</span>
                        <span></span>
                    </h2>
                </div>              
                @*// Phrasal verb section*@
                <div>
                    <hr />
                    <form id="item-form-base">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6 form-group">
                                <label>Base Verb</label>
                                <img id="base-verb-processing" style="display:none" src="~/Content/Style/Pics/processing.gif" alt="processing..." />
                                @Html.TextBox("base-verb", null, new { @class = "inner form-control required", autocomplete = "off", db_id = "-1" })
                                @Html.Hidden("phrasal-verb-id", -1)
                                @Html.Hidden("speech-part", 2)
                                @Html.Hidden("url", "/PhrasalVerb/Create")
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3 form-group">
                                <label>Preposition</label>
                                @Html.DropDownList("preposition", new SelectList(Session["Prepositions"] as IEnumerable<Preposition>, "Id", "Name", null),
                                    new { @class = "selectpicker form-control", data_live_search = "true" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3 form-group">
                                <label>Formality</label>
                                @Html.DropDownList("Formality", new SelectList(Session["Formalities"] as IEnumerable<Formality>, "Id", "Name", 1),
                                    new { id = "formality", @class = "selectpicker form-control" })
                            </div>
                        </div>
                    </form>
                </div>
                @*// Meaning section*@
                <div class="section" id="meaning-section">
                    <hr />
                    <div class="form-group">
                        <span class="section-title button button-primary panel-toggle">Meanings</span>
                        <span class="note item-counter">0 items</span>
                        <a href="#/" class="panel-toggle"><span class="section-chevron fa fa-chevron-right fa-fw pull-right"></span></a>
                    </div>
                    <div class="edit-panel" style="display:none">
                        <form id="item-form-meaning">
                            <div class="data-item-container">
                            </div>
                        </form>
                        <div>
                            <a href="#/" class="more-meanings small">
                                <span class="fa fa-plus-square-o fa-lg fa-fw"></span><span>More meanings</span>
                            </a>
                        </div>
                        <div class="form-group text-right">
                            <input type="button" class="button button-primary panel-toggle" value="OK" />
                        </div>
                    </div>
                </div>
                @*// Submit section*@
                <div>
                    <hr />
                    <div class="text-right">
                        <a href="@Model.UrlReferrer" class="button button-default">Cancel</a>
                        <input type="button" class="button button-primary" id="submit" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-shared-create-edit.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dictionary-shared-phrasal-verb-create-edit.js")"></script>